* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$background-color1: #0026fd44;
$background-color2: #f8fdf5;
$submit-button-color1: #2b62f7;
$submit-button-color2: #7395f2;
$reset-button-color1: #d3dcec;
$reset-button-color2: #5a5f67;

@mixin animations {}

@mixin hoverEffect {
    background-color: $submit-button-color2;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .input {
        @include flexRow();
        justify-content: space-evenly;
        margin-bottom: 10%;
    }

    input {
        padding: 1% 10%;
        margin: 2% 0;
    }


    #resetButton,
    #submitButton {
        padding: 5% 20%;
        border-radius: 40px;
        border: 1px solid black;
    }

    .submit-reset {
        @include flexRow();
    }
}

table {
    min-height: 100%;
    min-width: 100%;


    td {
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
        padding: 5%;
    }


}